body{
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: aqua;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}